* {
    padding: 0px;
    margin: 0px;
}
.login-container {
    margin-top: 3%;
}

.login-form{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #333;
    margin: 0px auto;
    padding: 5%;
    text-align: center;
}

